<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <webServices>
      <protocols>
        <add name="HttpSoap12"/>
        <add name="HttpSoap"/>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRedPill" />
        <binding name="BasicHttpsBinding_IRedPill">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IRedPill1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://knockknock.azurewebsites.net/RedPill.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedPill"
        contract="RedPill.IRedPill" name="BasicHttpBinding_IRedPill" />
      <endpoint address="https://knockknock.readify.net/RedPill.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IRedPill"
        contract="RedPill.IRedPill" name="BasicHttpsBinding_IRedPill" />
      <endpoint address="http://sangtruong.somee.com/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedPill1"
        contract="ServiceReference1.IRedPill" name="BasicHttpBinding_IRedPill1" />
    </client>
  </system.serviceModel>
</configuration>